@font-face {
    font-family: 'avenir';
    src: url('../fonts/AvenirNextCyr-Regular.woff');
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.kit {
    overflow: hidden;
    background-color: #f5f5f5;
    font-family: 'avenir';

    &__content {
        width: 100%;
        margin: 0 0 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__items-line {
        display: flex;
        flex-wrap: wrap;
        max-width: 748px;
    }

    &__side-panel {
        display: flex;
        margin: 0 0 0 30px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 300px;
    }
}

.kit-item {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 50%;
    min-height: 170px;
    margin: 0 -1px -1px 0;
    padding: 20px 0;
    border: 1px solid #cacaca;
    background-color: #fff;
    transition: all .4s ease;

    &__img {
        margin: 0 33.5px;
        width: 82px;
        height: 90px;
        flex-shrink: 0;
        // max-height: 120px;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__name {
        width: 100%;
        margin: 0 0 18px 0;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: .12px;
        line-height: 21px;
        margin-bottom: 6px;
        padding-right: 20px;
    }

    &__price {
        width: 100%;
        margin: 0;
        font-size: 13px;
        color: #000000;
        letter-spacing: .08px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    &__description {
        width: 100%;
        margin: 0;
        font-size: 13px;
        color: #3c3c3c;
        margin-bottom: 10px;
    }

    &__operators {

        img {
            margin: 0 3px 0 0;
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        label {
            margin: 8px 8px 0 0;
            cursor: pointer;
        }

        label:hover span{
            background-color: #9bd0eb;
        }

        input {
            display: none;
        }

        input:checked + span {
            background-color: #078fd3;
            color: #fff;
        }

        span {
            display: block;
            padding: 4px 7px;
            border-radius: 7px;
            background-color: #d1e0e8;
            font-size: 12px;
            color: #7d98a5;
            text-transform: uppercase;
            transition: all .4s ease;
        }
    }
}

.kit-item:hover {
    border: 1px solid #079ee9;
    box-shadow: inset 0px 0px 0px 2px #079ee9;
    z-index: 2;
}

.kit-item_short {
    flex-wrap: wrap;
    width: calc(25% + 0.5px);

    .kit-item__img {
        margin: 0;
        width: 100%;
        height: 90px;
        flex-shrink: 0;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .kit-item__content {
        width: 100%;
    }

    .kit-item__name, .kit-item__price {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .kit-item__name {
        margin: 0 0 10px 0;
    }

    .kit-item__price {
        margin: 0px;
    }
}

.cost-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    max-width: 210px;

    &__result {
        margin: 0 0 0;
        font-size: 39px;
        font-weight: 600;
    }

    &__btn {
        width: 212px;
        height: 50px;
        margin-top: 10px;
        padding: 0 25px;
        background-color: #3f7fc7;
        font-family: 'avenir';
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: 6px;
        transition: all 0.4s ease;
    }

    &__btn:hover {
        cursor: pointer;
        background-color: #1259aa;
    }

    &__btn:focus {
        outline: none;
        background-color: #80b8fc;
    }
}

.advice-block {
    width: 260px;
    margin: 60px 0 0;
    padding-left: 30px;

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    &__btn {
        width: 212px;
        height: 50px;
        padding: 0 25px;
        background-color: #ffffff00;
        font-family: 'avenir';
        color: #3f7fc7;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid #3f7fc7;
        border-radius: 6px;
        transition: all 0.4s ease;
    }

    &__btn:hover {
        cursor: pointer;
        background-color: #1259aa;
        color: #fff;
    }

    &__btn:focus {
        outline: none;
        background-color: #a1c5f1;
    }

    &__action {
        font-size: 13px;
        line-height: 22px;
    }

    &__tel {
        font-weight: 600;
        color: #3f7fc7;
    }

    &__tel:hover {
        color: #000000;
    }
}


@media screen and (max-width:1100px) {
    .kit {
    
        &__content {
            max-width: 900px;
            margin: 0 auto 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        &__side-panel {
            display: flex;
            margin: 40px 0 0 auto;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            justify-content: flex-end;
            max-width: 100%;
        }
    }

    .advice-block {
        width: 260px;
        margin: 0 60px 0 0;
        padding-left: 30px;
    }
}

@media screen and (max-width:768px) {
    
    .kit-item {
        max-width: 100%;
        width: 100%;
        
        &__img {
            margin: 0 20px
        }
    }

    .kit-item_short {
        width: calc(50% + 0.5px);
    }

}

@media screen and (max-width:576px) {
    .kit {
    
        &__side-panel {
            display: flex;
            margin: 40px auto 0;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-end;
            max-width: 100%;
        }
    }

    .cost-block {
        margin: 0 auto 30px;

        &__result {
            width: 100%;
            text-align: center;
            font-size: 30px;
            font-weight: 600;
        }
    }

    .advice-block {
        margin: 0 auto 0;
        padding: 0 10px;
        text-align: center;
    }
}