@import "kit.scss";
@import "cost-block.scss";
@import "advice-block.scss";
@import "order-kit.scss";

@font-face {
    font-family: 'avenir';
    src: url('../fonts/AvenirNextCyr-Regular.woff');
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
